---
interface Props {
	id: number,
	prop1: number,
	prop2: number,
	prop3: number,
	prop4: number,
	check1: boolean,
	text: string
}

const { id, prop1, prop2, prop3, prop4, check1, text } = Astro.props;
---

<div class="px-4 pt-6 sm:px-6">
	<div class="mb-4 flex flex-row justify-between items-center">
		<div class="basis-auto">
			<h1 class="text-base font-semibold text-gray-900 md:text-xl dark:text-white">
				Rechner {id}
			</h1>
		</div>
		<div class="basis-auto">
			<label class="relative inline-flex items-center cursor-pointer">
				<input type="checkbox" value="" class="sr-only peer" {check1 && checked}>
				<div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-primary-300 dark:peer-focus:ring-primary-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary-600"></div>
			</label>
		</div>
	</div>
	<div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
		<div
			class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-3 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
		>
			<form action="#">
				<div class="grid grid-cols-6 gap-6">
					<div class="col-span-6 sm:col-span-3">
						<label
							for="prop-1"
							class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
							>Prop-1</label
						>
						<input
							type="number"
							name="prop-1"
							id="prop-1" value={prop1}
							class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
							placeholder="0"
							required
						/>
					</div>
					<div class="col-span-6 sm:col-span-3">
						<label
							for="prop-2"
							class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
							>Prop-2</label
						>
						<input
							type="number"
							name="prop-2"
							id="prop-2" value={prop2}
							class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
							placeholder="0"
							required
						/>
					</div>
					<div class="col-span-6 sm:col-span-3">
						<label
							for="prop-3"
							class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
							>Prop-3</label
						>
						<input
							type="number"
							name="prop-3"
							id="prop-3" value={prop3}
							class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
							placeholder="0"
							required
						/>
					</div>
					<div class="col-span-6 sm:col-span-3">
						<label
							for="prop-4"
							class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
							>Prop-4</label
						>
						<input
							type="number"
							name="prop-4"
							id="prop-4" value={prop4}
							class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
							placeholder="0"
							required
						/>
					</div>
					{id == 3 &&
						<div class="col-span-6 sm:col-span-6">
							<label for="text1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Text-1</label>
							<textarea id="text1" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
						</div>
					}
					<div class="col-span-6 sm:col-full">
						<button
							class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
							type="submit">Save all</button
						>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
