---
import { url } from '../lib/data.js';
import BadgeByStatus from '../components/BadgeByStatus.astro';
import SvgIconByName from '../components/SvgIconByName.astro';

const circleLeft = ["Insulin", "Kraft", "VO2"];
const circleRight = ["Herz", "DNA", "Schlaf"];
const calcs = await Astro.glob('../pages/calc/data/*.md');
---

<div class="px-4 pt-6 sm:px-6">
	<h1 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
		My Dashboard
	</h1>

	<div class="grid gap-6 lg:grid-cols-2 2xl:grid-cols-3">
		<!-- Main widget -->
		<div
			class="2xl:col-span-2 flex flex-col gap-6 h-full"
		>

			<div
				class="bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800 shrink-0"
			>
				<div class="py-4 sm:py-6 flex flex-row h-full text-gray-900 dark:text-white">
					<div class="basis-1/3 flex flex-col justify-between items-center border-e-2 border-gray-200 dark:border-gray-700 gap-2">
						<span class="text-2xl 2xl:text-3xl font-light text-red-600">4.200</span>
						<p class="text-xs opacity-40 2xl:text-sm">Schritte</p>
					</div>
					<div class="basis-1/3 flex flex-col justify-between items-center border-e-2 border-gray-200 dark:border-gray-700 gap-2">
						<span class="text-2xl 2xl:text-3xl font-light text-amber-500">3 / 5</span>
						<p class="text-xs opacity-40 2xl:text-sm">Routinen</p>
					</div>
					<div class="basis-1/3 flex flex-col justify-between items-center gap-2">
						<svg class="w-7 h-7 2xl:w-9 2xl:h-8 text-lime-500" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
							<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
						</svg>
						<p class="text-xs opacity-40 2xl:text-sm">Supps</p>
					</div>
				</div>
			</div>

			<div
				class="bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800 h-full"
			>
				<div class="flex flex-row h-full text-gray-900 dark:text-white">
					<div class="basis-2/5 flex flex-col h-full justify-between">
						{circleLeft.map((item) => (
							<div class="flex flex-row justify-start items-center h-full p-4 sm:p-6">
								<span class="text-sm 2xl:text-l">{item}</span>
							</div>
						))}
					</div>
					<div class="basis-1/5 flex flex-col h-full justify-center items-center">
						<div class="shrink-0 w-24 h-24 2xl:w-32 2xl:h-32 aspect-square flex flex-col justify-center items-center border-4 border-red-600 rounded-full">
							<h2 class="text-4xl 2xl:text-5xl font-semibold translate-y-[-0.2rem]">42</h2>
							<p class="text-xs opacity-40 2xl:text-sm translate-y-[-0.2rem]">Calisto</p>
						</div>
					</div>
					<div class="basis-2/5 flex flex-col h-full justify-between">
						{circleRight.map((item) => (
							<div class="flex flex-row justify-end items-center h-full p-4 sm:p-6">
								<span class="text-sm 2xl:text-l">{item}</span>
							</div>
						))}
					</div>

				</div>

			</div>

		</div>
		<!--List widget -->
		<div
			class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800"
		>

			<h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
					Rechner
			</h5>
			<p class="text-sm font-normal text-gray-500 dark:text-gray-400">Hier sind alle verfügbaren Rechner aufgelistet.</p>
			<ul class="mt-4 space-y-4 md:mt-6 md:space-y-6">
				{calcs.map(calc => (
					<li>
						<a href={url(calc.frontmatter.link)} class="flex items-center p-3 text-base text-gray-900 rounded-lg bg-gray-75 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
							<SvgIconByName icon={calc.frontmatter.icon} />
							<span class="flex-1 ml-3 whitespace-nowrap">{calc.frontmatter.title}</span>
							<BadgeByStatus status={calc.frontmatter.status} />
						</a>
					</li>
				))}
			</ul>

		</div>
	</div>
</div>
