---
import pkg from '../../package.json' assert { type: 'json' };
import { url } from '../lib/data.js';

import { SITE_TITLE } from './constants.js';
import ImageFavicon32 from '../images/favicon_32.png';
import ImageFavicon256 from '../images/favicon_256.png';
import { createClient } from '@supabase/supabase-js';

const { class: clazz } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{SITE_TITLE} — v{pkg.version}</title>

		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={pkg.description} />
		<meta name="" content={pkg.description} />
		<link href={ImageFavicon32} rel="shortcut icon" type="image/x-icon">
		<link href={ImageFavicon256}  rel="apple-touch-icon">
		<link
			rel="sitemap"
			type="application/xml"
			href={url('sitemap-index.xml')}
		/>

		<meta
			name="author"
			content="Julian Cataldo, Zoltán Szőgyényi, Robert Tanislav"
		/>
		<meta name="copyright" content="MIT" />

		<script is:inline>
			if (
				localStorage.getItem('color-theme') === 'dark' ||
				(!('color-theme' in localStorage) &&
					window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}
		</script>
	</head>
	<body
		class:list={[
			//
			clazz,
			'bg-gray-50 dark:bg-gray-800',
			'scrollbar scrollbar-w-3 scrollbar-thumb-rounded-[0.25rem]',
			'scrollbar-track-slate-200  scrollbar-thumb-gray-400',
			'dark:scrollbar-track-gray-900 dark:scrollbar-thumb-gray-700',
		]}
	>
		<slot />
	</body>
</html>

<script>
	import 'flowbite';
	import { createClient } from '@supabase/supabase-js';

	const userId = '77173b116fde045e661a0cb7ec902919';
	const supabaseUrl = 'https://anyfrhmfxqicdhttxkij.supabase.co';
	const supabaseAnonKey =
		'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFueWZyaG1meHFpY2RodHR4a2lqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4NjYzNDY3NywiZXhwIjoyMDAyMjEwNjc3fQ.xKmXdHqvIow96RjRvzX1ckYTeVZbjeVPfxkEBtE-8sM';
	const supabase = createClient(supabaseUrl, supabaseAnonKey, {
		global: { fetch: fetch.bind(globalThis) }
	});
	console.log('Supabase Instance: ', supabase, userId);

	async function saveCalcValues(evt, calc){
		evt.preventDefault();
		let $calcFormBtn = document.getElementById("calc-form-btn");
		$calcFormBtn.setAttribute("loading", "");
		$calcFormBtn.setAttribute("disabled", "");
		let calcProp1 = document.getElementById("prop-1").value;
		let calcProp2 = document.getElementById("prop-2").value;
		let calcProp3 = document.getElementById("prop-3").value;
		let calcProp4 = document.getElementById("prop-4").value;
		let calcCheck1 = (document.getElementById('check-1').checked) ? true : false;
		try {
			const { error } = await supabase.from('Calculator')
			.update({ prop1: calcProp1, prop2: calcProp2, prop3: calcProp3, prop4: calcProp4, check1: calcCheck1 })
			.eq('user_id', userId).eq('calc', calc);
			if (error) { throw error }
    } catch (error) {
      if (error instanceof Error) {}
    } finally {
			setTimeout(function () {
				$calcFormBtn.removeAttribute("loading");
				$calcFormBtn.removeAttribute("disabled");
			}, 1000);
    }
	}

	const $calcForm: HTMLElement | null = document.querySelector('#calc-form');
	if ($calcForm) {
  	const $calcBlock: HTMLElement | null = $calcForm.dataset.calc;
  	if ($calcBlock) {
    	$calcForm.addEventListener('submit', (e) => saveCalcValues(e, $calcBlock));
		}
  }

	window.addEventListener("DOMContentLoaded", (event) => {
		let $calcFormBtn = document.getElementById("calc-form-btn");
		if ($calcFormBtn) {
			$calcFormBtn.removeAttribute("disabled");
		}
	});
</script>

<style is:global>
	@import url('https://fonts.cdnfonts.com/css/inter');
</style>
